//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	@include flexbox();
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.mainblock {
	flex: 1 1 auto;
	position: relative;
	@include flexbox();
	justify-content: center;
	text-align: center;
	padding: 50px 0px;
	// .mainblock__content

	&__content {
		position: relative;
		z-index: 1;
		flex: 1 1 auto;
		.container{
			height: 100%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

	}

	// .mainblock__logo

	&__logo {
	}

	// .mainblock__text

	&__text {
		color: #ffffff;
		position: relative;
		padding: 0px 0px 45px 0px;
		
		&::after{
			content: "";
			width: 105px;
			height: 2px;
			background-color: #ffffff;
			position: absolute;
			left: 50%;
			margin: 0px 0px 0px -52.5px;
			bottom: 0;
		}
	}

	// .mainblock__title

	&__title {
		font-size: 34px;
		line-height: 40px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		margin: 0px 0px 18px 0px;
		@media (max-width:$md3+px){
			font-size: 25px;
			line-height: 30px; 
		}
	}

	// .mainblock__subtitle

	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		text-transform: none;
	}

	// .mainblock__footer

	&__footer {
		@include flexboxinline();
		flex-direction: column;
	}

	// .mainblock__btn

	&__btn {
		margin: 30px 0px;
	}

	// .mainblock__arrow

	&__arrow {
		position: relative;
		animation: arrow 2s infinite linear;
	}

	// .mainblock__image

	&__image {
		position: fixed;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;

	}
}

.btn {

	// .btn_w

	&_w {
	}
}

@keyframes arrow {
	0% {
		top: 0;
	}
	50%{
		top: 10px;
	}
	100% {
		top: 0;
	}
}

//====================================================================================================
.content {
	background-color: #fff;
	position: relative;
	z-index: 50;
}


.menu {
	padding: 22px 0px;

	// .menu__items

	&__items {
	}

	// .menu__list

	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li{
		margin: 0px 25px;
			@media (max-width:$md3+px){
				margin: 0px 15px 10px 15px;
			}
			@media (max-width:$md3+px){
				flex: 0 1 25%;
			}
		}
		@media (max-width:$md4+px){
			flex-wrap: wrap; 
		}
	}

	// .menu__link

	&__link {
		font-size: 15px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #3c3c3c;
		@include anim(0.3s,0s);
		&:hover{
			color: #ada074;

		}
		// .menu__link_act

		&_act {
		color: #ada074;
		}
	}
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
