//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	@include flexbox();
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.mainblock {
	flex: 1 1 auto;
	position: relative;
	@include flexbox();
	justify-content: center;
	align-items: center;
	text-align: center;
	// .mainblock__content

	&__content {
		position: relative;
		z-index: 1;

	}

	// .mainblock__logo

	&__logo {
		margin: 0px 0px 159px 0px;
	}

	// .mainblock__text

	&__text {
		color: #ffffff;
		position: relative;
		padding: 0px 0px 45px 0px;
		margin: 0px 0px 227px 0px;
		&::after{
			content: "";
			width: 105px;
			height: 2px;
			background-color: #ffffff;
			position: absolute;
			left: 50%;
			margin: 0px 0px 0px -52.5px;
			bottom: 0;
		}
	}

	// .mainblock__title

	&__title {
		font-size: 34px;
		line-height: 40px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		margin: 0px 0px 18px 0px;
	}

	// .mainblock__subtitle

	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		text-transform: none;
	}

	// .mainblock__footer

	&__footer {
	}

	// .mainblock__btn

	&__btn {
	}

	// .mainblock__arrow

	&__arrow {
	}

	// .mainblock__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;

	}
}

.btn {

	// .btn_w

	&_w {
	}
}


//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
